<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Gamempire</title>
    <link rel="stylesheet" href="./style/main.css">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>if (window.module) module = window.module;</script>

  </head>

  <body>
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
     <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="main.html" id="1">Profile</a>
      <a href="add.html" id="2">Add Game</a>
      <a href="#" id="3">Clients</a>
      <a id="4" onclick="addtab()">+</a>

    </div>
    <span onclick="openNav()">open</span>
   	<div id="main_content">
    <form ><h5>Add Games:</h5>
    <select id = "game">
    <option value="" disabled selected>Select your option</option>
    <option value="Hearthstone">Hearthstone</option>
    <option value="Overwatch">Overwatch</option>
    <option value="Dota2">Dota2</option>
    <option value="League of lengends">League of lengends</option>
    </select>
    <br/>
    <h5>Username in game:</h5> 
    <input id="gameusername" type="text"/>
    <h5>Interest of Games: </h5>
    <select multiple id="interest">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option> 
    </select> 
    <input id="submit" type="submit" value="Submit"/>

	</form>
  	</div>
  </body>

  <script type="text/javascript">
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main_content").style.marginLeft = "250px";

    }

    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main_content").style.marginLeft = "0";
    } 

    function addtab(){

        var div = document.createElement("div");
        div.setAttribute("id", "add");
        div.innerHTML='<input id="hi"></input> <button onclick="create()">Ok</button>'; 
        document.getElementById("mySidenav").appendChild(div);
    }

    function create(){

        var v =$("#hi").val();
        var as =document.createElement("a");
        as.setAttribute("id",v);
        as.innerHTML=v;
        var child= document.getElementById("4");
        var p =document.getElementById("mySidenav");
        p.insertBefore(as,child);
        document.getElementById("add").remove();
    }

    $("#submit").click(function(event){
    event.preventDefault();
    var remote = require('electron').remote; 
    var token = remote.getGlobal('sharedObject').token;
    $.post( "http://localhost:8080/user/load",
              {
                  'token' :token
              }).done((d)=> {
                  $.ajax({
                          url:"http://localhost:8080/user/profile/updategames",   
                          type:"PUT",
                          contentType: 'application/json; charset=utf-8',
                          data:JSON.stringify({    
                              _id:d._id,
                              game: $("#game").val(),
                              interest: $("#interest").val(),
                              useringame:$("#gameusername").val()

                          })
                      }).fail((err)=>{
                                  alert("opps!");
                              });
                          });
          })
  </script>
 </html>