<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Gamempire</title>
    <link rel="stylesheet" href="./style/foundation.min.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/gamempire.css">
    <script type="text/javascript" src="./js/jquery-latest.js"></script>
    <script type="text/javascript" src="./js/jquery.tablesorter.js"></script>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    <script type="text/javascript" src="./js/jquery-latest.js"></script> 
    <script type="text/javascript" src="./js/jquery.tablesorter.js"></script> 

  </head>
  <body>
    <!-- Start Title Bar -->
    <div id="titleBar">
    <div id="titleicon" class="titleicon"></div> <!-- icon -->
    <span id="title" class="title">Gamempire</span> <!-- title of page -->
        <div id="title-bar-btns"> <!-- close, minimize, maximize buttons -->
            <button id="min-btn" title="Minimize"></button>
            <button id="max-btn" title="Maximize"></button>
            <button id="close-btn" title="Close"></button>
        </div>
    </div>
    <!-- End Title Bar -->
    <!-- Start Side bar-->
    <div id="mySidenav" class="sidenav" w3-include-html="_menu.html">
    </div>
    <!-- End Side Bar -->
    <div id="main_content">
    <script src="js/bar.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/w3data.js"></script>
    <div>
    
    <button class="button" onclick="adduser()">Add User</button>
      <table id="db" class="tablesorter">
        <h3>My fantasy team league</h3> List of All Players
        <thead>
        <tr>
          <th>Player </th><input type="text" id="names" onkeyup="findname()" placeholder="Search for names.."/>
          <th>Position </th><select id="pos" onclick="pos()"><option value="all">All</option><option value="top">Top</option><option value="jungle">Jungler</option><option value="mid">Mid</option><option value="ad carry">AD Carry</option><option value="support">Support</option><option value="flex">Flex</option></select>
          <th>Team</th><input type="text" id="teamname" onkeyup="team()" placeholder="Search for team names.."/>
          <th>Total Points</th>
          <th>Kills(+2)</th>
          <th>Death(-0.5)</th>
          <th>Assit(+1.5)</th>
          <th>Cs(+0.01)</th>
          <th>10+ Kill/Assit (+2)</th>
          <th>3K/4K/5K(+2/+5/+10)</th>
        </tr>

        </thead> 
        <tbody> 
        <tr>
          <td>Jensen</td>
          <td>Mid</td>
          <td>Cloud9</td>
          <td>781.49</td>
          <td>207</td>
          <td>90</td>
          <td>222</td>
          <td>15,303</td>
          <td>10</td>
          <td>5/3/1</td>
        </tr>
          <tr>
            <td>Max</td>
            <td>Top</td>
            <td>Gamempire</td>
            <td>778.92</td>
            <td>187</td>
            <td>72</td>
            <td>268</td>
            <td>13,489</td>
            <td>7</td>
            <td>2/3/2</td>
          </tr>
          <tr>
            <td>Rain</td>
            <td>Jungler</td>
            <td>Gamempire</td>
            <td>737.34</td>
            <td>166</td>
            <td>62</td>
            <td>275</td>
            <td>11,575</td>
            <td>7</td>
            <td>4/0/0</td>
          </tr>
          <tr>
            <td>Benjamin</td>
            <td>Mid</td>
            <td>Gamempire</td>
            <td>737.34</td>
            <td>193</td>
            <td>71</td>
            <td>236</td>
            <td>11,472</td>
            <td>6</td>
            <td>5/0/1</td>
          </tr>
          <tr>
            <td>Thomas</td>
            <td>AD Carry</td>
            <td>Gamempire</td>
            <td>729.01</td>
            <td>173</td>
            <td>98</td>
            <td>308</td>
            <td>12,039</td>
            <td>8</td>
            <td>5/0/0</td>
          </tr>
          <tr>
            <td>Borys</td>
            <td>Support</td>
            <td>Gamempire</td>
            <td>726.85</td>
            <td>135</td>
            <td>52</td>
            <td>221</td>
            <td>12,635</td>
            <td>7</td>
            <td>3/1/0</td>
          </tr>
          <tr>
            <td>Nathan</td>
            <td>Flex</td>
            <td>Gamempire</td>
            <td>709.88</td>
            <td>133</td>
            <td>70</td>
            <td>212</td>
            <td>13,088</td>
            <td>8</td>
            <td>2/2/0</td>
          </tr>
        </tbody>
      </table>
      </div>
    <div id="myteam">

    <h3>select your fantasy team</h3>
    <input type="text" id="fantasy"  value="my fantasy team">
    <label>Top</label>
    <input type="text" id="top"/>
    <label>Jungler</label>
    <input type="text" id="jg"/>
    <label>Mid</label>
    <input type="text" id="mid"/>
    <label>AD Carry</label>
    <input type="text" id="adc"/>
    <label>Support</label>
    <input type="text" id="sup"/>
    <label>Flex</label>
    <input type="text" id="flex"/>
    <button class="button" onclick="getmyteam()">Submit</button>
    </div>
    <div id="myteamshow" style="display: none">

      <h3 id="fantasy">My Fantasy Team</h3>
      <label id="team0">Team:</label>
      <label id="top1">Top:</label>
      <label id="jg2">Jungler:</label>
      <label id="mid3">Mid:</label>
      <label id="adc4">AD Carry:</label>
      <label id="sup5">Support:</label>
      <label id="flex6">Flex:</label>
    </div>
    </div>
  </body>
  <script type="text/javascript">

    $(document).ready(function() 
      { 
          $("#db").tablesorter({
            headers: { 
              0:{sorter:false},
              1:{sorter:false},
              2:{sorter:false}
          }}); 
      } 
    ); 
    function toggleNav() {
        $("#mySidenav").toggleClass("navOpen");
    }
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main_content").style.marginLeft = "250px";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main_content").style.marginLeft = "0";
    }
    function addtab() {
        var div = document.createElement("div");
        div.setAttribute("id", "add");
        div.innerHTML = '<div class="dropFade"><input type="text" maxlength="15" id="hi"></input> <button class="button" onclick="create()">Ok</button></div>';
        document.getElementById("mySidenav").appendChild(div);
    }
    function create() {
        var v = $("#hi").val();
        var as = document.createElement("a");
        as.setAttribute("id", v + "-" + Date.now());
        as.innerHTML = v;
        var child = document.getElementById("8");
        var p = document.getElementById("mySidenav");
        p.insertBefore(as, child);
        document.getElementById("add").remove();
    }

    function findname() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("names");
  filter = input.value.toUpperCase();
  table = document.getElementById("db");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
  }
  function team() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("teamname");
  filter = input.value.toUpperCase();
  table = document.getElementById("db");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
  }

  function pos() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  var e = document.getElementById("pos");
  input = e.options[e.selectedIndex].value;
  filter = input.toUpperCase();

  table = document.getElementById("db");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (filter =="ALL") {
        tr[i].style.display="";
      }
      else if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}

  function getmyteam(){
    var team = document.getElementById("myteam");
    team.style.display="none";
    var teamshow =document.getElementById("myteamshow");
    teamshow.style.display="";
    var mid =$("#mid").val();
    var top =$("#top").val();
    var jg =$("#jg").val();
    var adc =$("#adc").val();
    var sup =$("#sup").val();
    var team=$("#fantasy").val();
    var flex = $("#flex").val();

    $("#top1").append(top);
    $("#jg2").append(jg);
    $("#mid3").append(mid);
    $("#adc4").append(adc);
    $("#sup5").append(sup);
    $("#yourteam").text(team);
    $("#flex6").append(flex);

  }

  function adduser(){
    $('#db tr:last').after('<tr><td>Doublelift</td><td>AD Carry</td><td>TSM</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>20</td></tr>');
  }

  w3IncludeHTML(); //Loads side bar menu items from external file
  </script>
</html>
