<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Gamempire</title>
    <link rel="stylesheet" href="./style/foundation.min.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/gamempire.css">    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.3.1118/styles/kendo.common.min.css">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    <script src="http://kendo.cdn.telerik.com/2016.3.1118/js/kendo.all.min.js"></script>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.3.1118/styles/kendo.default.min.css">
</head>

<body>
    <!-- Start Title Bar -->
    <div id="titleBar">
    <div id="titleicon" class="titleicon"></div> <!-- icon -->
    <span id="title" class="title">Gamempire</span> <!-- title of page -->
        <div id="title-bar-btns"> <!-- close, minimize, maximize buttons -->
            <button id="min-btn" title="Minimize"></button>
            <button id="max-btn" title="Maximize"></button>
            <button id="close-btn" title="Close"></button>
        </div>
    </div>
    <!-- End Title Bar -->
    <!-- Start Side bar-->
    <div id="mySidenav" class="sidenav" w3-include-html="_menu.html">
    </div>
    <!-- End Side Bar -->
    <div id="content">
      <script src="js/bar.js"></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/w3data.js"></script>
        <div id="main_content">
        <!-- CONTENT GOES HERE -->
    <div id="calendar"></div>
        <!-- CONTENT ENDS HERE -->
        </div>
  </div>
  <script>
    $("#calendar").kendoCalendar({
      footer: "Today - #: kendo.toString(data, 'd') #"
    });
    var calendar = $("#calendar").data("kendoCalendar");

    calendar.max(new Date(2027, 0, 1));
    calendar.min(new Date(2017, 0, 1));
  </script>

<script type="text/javascript">
var dialog = document.getElementById('dialog');

function toggleNav() {
    $("#mySidenav, #content").toggleClass("navOpen");
    if ( $("#mySidenav").hasClass("navOpen") ) {
        //do something it does have the protected class!
        $(".toggleNav").css({"cursor":"url('./img/arrow_in.png'), auto"});
    }else{
        $(".toggleNav").css({"cursor":"url('./img/arrow_out.png'), auto"});
    }
}


function addtab() {

    var div = document.createElement("div");
    div.setAttribute("id", "add");
    div.innerHTML = '<div class="dropFade"><input type="text" maxlength="15" id="hi"></input> <button class="button" onclick="create()">Ok</button></div>';
    document.getElementById("mySidenav").appendChild(div);
}

function create() {

    var v = $("#hi").val();
    var as = document.createElement("a");
    as.setAttribute("id", v + "-" + Date.now());
    as.innerHTML = v;
    var child = document.getElementById("8");
    var p = document.getElementById("mySidenav");
    p.insertBefore(as, child);
    document.getElementById("add").remove();
}

var dialog = document.getElementById('dialog');
w3IncludeHTML(); //Loads side bar menu items from external file
$("body").css({"height":"calc(100% - 35px)"});
$( window ).resize(function() {
      $("body").css({"height":"calc(100% - 35px)"});
});
</script>
</body>
</html>
