<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Gamempire</title>
    <link rel="stylesheet" href="./style/foundation.min.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/gamempire.css">
    <script>
    if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    if (window.module) module = window.module;
    </script>
</head>

<body>
	<!-- start title bar -->
	<div id="titleBar">
	<div id="titleicon" class="titleicon"></div> <!-- icon -->
	<span id="title" class="title">Gamempire Login</span> <!-- title of page -->
		<div id="title-bar-btns"> <!-- close, minimize, maximize buttons -->
		</div>
	</div>
	<!-- end title bar -->
    <div>
        <div id="mySidenav" class="sidenav">
            <a class="active" href="main.html" id="1">Profile</a>
            <a href="gametool.html" id="2">Gaming Tools</a>
            <a href="video.html" id="3">Video Streams</a>
            <a href="" id="4">Tips&Tricks</a>
            <a href="guide.html" id="5">Guides</a>
            <a href="esports.html" id="6">Esports</a>
            <a href="chat.html" id="7">Chat </a>
            <a id="8" onclick="addtab()">+</a>
            <div class="toggleNav" onclick="toggleNav()"></div>
        </div>
        <div id="content">
            <div id="main_content"></div>
            <script src="js/bundle2.js"></script>
			<script src="js/bar.js"></script>
            <script src="js/foundation.min.js"></script>
        </div>
</body>
<script type="text/javascript">
var dialog = document.getElementById('dialog');

function toggleNav() {
    $("#mySidenav, #content").toggleClass("navOpen");
}

function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main_content").style.marginLeft = "250px";

}


function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main_content").style.marginLeft = "0";
}

function addtab() {

    var div = document.createElement("div");
    div.setAttribute("id", "add");
    div.innerHTML = '<div class="dropFade"><input type="text" maxlength="15" id="hi"></input> <button class="button" onclick="create()">Ok</button></div>';
    document.getElementById("mySidenav").appendChild(div);
}

function create() {

    var v = $("#hi").val();
    var as = document.createElement("a");
    as.setAttribute("id", v + "-" + Date.now());
    as.innerHTML = v;
    var child = document.getElementById("8");
    var p = document.getElementById("mySidenav");
    p.insertBefore(as, child);
    document.getElementById("add").remove();
}

var dialog = document.getElementById('dialog');

</script>

</html>
