<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Gamempire</title>
    <link rel="stylesheet" href="./style/foundation.min.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/gamempire.css">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>if (window.module) module = window.module;</script>

  </head>

  <body>

  <div id="mySidenav" class="sidenav">
  <a href="main.html" id="1">Profile</a>
  <a href="gametool.html" id="2">Gaming Tools</a>
  <a class="active"  href="video.html" id="3">Video Streams</a>
  <a href="" id="4">Tips&Tricks</a>
  <a href="" id="5">Guides</a>
  <a href="esports.html" id="6">Esports</a>
  <a href="chat.html" id ="7">Chat </a>
  <a id="8" onclick="addtab()">+</a>
  <div class="toggleNav" onclick="toggleNav()"></div>
  </div>
  <div id="main_content">
      <div id="player"></div>
       <div id="player2"></div>
  	</div>
  </body>

  <script type="text/javascript">
function toggleNav() {
    $("#mySidenav").toggleClass("navOpen");
}

function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main_content").style.marginLeft = "250px";

}


function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main_content").style.marginLeft = "0";
}

function addtab() {

    var div = document.createElement("div");
    div.setAttribute("id", "add");
    div.innerHTML = '<div class="dropFade"><input type="text" maxlength="15" id="hi"></input> <button class="button" onclick="create()">Ok</button></div>';
    document.getElementById("mySidenav").appendChild(div);
}

function create() {

    var v = $("#hi").val();
    var as = document.createElement("a");
    as.setAttribute("id", v + "-" + Date.now());
    as.innerHTML = v;
    var child = document.getElementById("8");
    var p = document.getElementById("mySidenav");
    p.insertBefore(as, child);
    document.getElementById("add").remove();
}
</script>

  <div style="position:fixed; right:30px; top:50px">
    <script src= "http://player.twitch.tv/js/embed/v1.js"></script>
    <div id="{PLAYER_DIV_ID}"></div>
    <script type="text/javascript">
      var options = {
        width: 600,
        height: 480,
        channel: "{gamempiretv}",
        //video: "{VIDEO_ID}"
      };
      var player = new Twitch.Player("{PLAYER_DIV_ID}", options);
      player.setVolume(0.5);
    </script>
  </div>

  <div style="position:fixed;">
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player2', {
          height: '480',
          width: '600',
          videoId: 'c6pKABSOv7w',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
  </div>
</html>