<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Gamempire</title>
    <link rel="stylesheet" href="./style/main.css">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>if (window.module) module = window.module;</script>

  </head>

  <body>
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
     <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="main.html" id="1">Profile</a>
      <a href="add.html" id="2">Add Game</a>
      <a href="youtube.html" id="3">Youtube</a>
      <a href="twitch.html" id="4">Twitch</a>
      <a href="discord.html" id="5">Discord</a>
      <a id="6" onclick="addtab()">+</a>

    </div>
    <span onclick="openNav()">open</span>
   	<div id="main_content">
      <div id="player"></div>
  	</div>
  </body>

  <script type="text/javascript">
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main_content").style.marginLeft = "250px";

    }

    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main_content").style.marginLeft = "0";
    } 

    function addtab(){

        var div = document.createElement("div");
        div.setAttribute("id", "add");
        div.innerHTML='<input id="hi"></input> <button onclick="create()">Ok</button>'; 
        document.getElementById("mySidenav").appendChild(div);
    }

    function create(){

        var v =$("#hi").val();
        var as =document.createElement("a");
        as.setAttribute("id",v);
        as.innerHTML=v;
        var child= document.getElementById("6");
        var p =document.getElementById("mySidenav");
        p.insertBefore(as,child);
        document.getElementById("add").remove();
    }

    
  </script>


    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'c6pKABSOv7w',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
 </html>